# python specific
*.py[cod]
*.egg
*.egg-info
# my virtenv directories
ve
# build directories
build
pip-log.txt
local_settings.py
# c specific
*.a
*.so
# golang
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
*.test
*.prof
# global
*~
*.log
# osx
.DS_Store
